@charset "utf-8";
/* CSS Document */




/*------------------------------------*\
 		Global style
\*------------------------------------*/
body,html {
	height: 100%;
}
body.comingsoon-body {
	background:url(../images/coming-soon-bg.png) no-repeat top left / cover;   
}

h1, h2, h3, h4, h5, h6, p, figure {
	margin:0;
}

.block {
	float:left;
	width:100%;
}







/*------------------------------------*\
    	comingsoon-wraper style
\*------------------------------------*/

.comingsoon-wraper {
	padding:60px 20px 70px;
}

.comingsoon-wraper .img-fluid {
	width:100%;
	text-align:center;
}

.comingsoon-wraper .img-fluid img {
	width:100%;
	max-width:227px;
	margin:0 auto;
}

.comingsoon-wraper h1 {
	color:#008994;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size:49px;
	line-height:50px;	
	width:100%;
	text-align:center;
	margin:38px 0 60px;
}

.comingsoon-wraper form {
	width:100%;
	max-width:380px;
	margin:0 auto;
}

.comingsoon-wraper form .form-group {
	width:100%;
	position:relative;	
}

.comingsoon-wraper .form-group input {
	width:90%;
	border:none;
	border-radius:6px;
	height:40px;
	padding:10px 13px;
	color:#000;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size:16px;
	line-height:16px;	
}


.comingsoon-wraper .form-group input::-webkit-input-placeholder {
	color:#afafaf;
}

.comingsoon-wraper .form-group input::-moz-placeholder {
	color:#afafaf;
}

.comingsoon-wraper .form-group input:-moz-placeholder { 
	color:#afafaf;
}

.comingsoon-wraper .form-group .btn {
	background:#008994;
	height:40px;
	min-width:105px;
	color:#fff;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size:16px;
	line-height:16px;
	position: absolute;
    right: 0;
    top: 0;
	border-radius: 0 6px 6px 0;
	cursor: pointer;
}

.comingsoon-wraper .form-group .btn:before {
	content: url("../../assets/images/arrow-left.png");
    left: -9px;
    position: absolute;
    top: 9px;
}

.comingsoon-wraper .form-group .btn:hover {
	opacity:0.95;	
}