<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="a library of useful utility apis.">
    <title>tiny apis - coming soon.</title>
	<!--Bootstrap-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--font-awesome CSS-->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--Custom Template CSS-->
    <link href="/assets/css/template-style.css" rel="stylesheet" type="text/css">
    <!--Media Query CSS-->
    <link href="/assets/css/template-media-style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body class="comingsoon-body">         
        <main class="block">
            <section class="block comingsoon-wraper">
                <article class="container">
                    <figure class="row">
                    	<p class="img-fluid"><img src="/assets/images/tinyapis-logo.png" alt="logo" /></p>
                        <h1>Coming Soon!</h1>
                        <form>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="E-mail" />
                          	<button type="submit" class="btn btn-default">Notify Me</button>
                          </div>
                        </form>
                    </figure>
                    <!-- /.row --> 
                </article>
                <!-- /.container -->        
            </section>
            <!-- /.comingsoon-wraper -->
        </main>	
        <!-- /main -->  
  </body>
</html>